{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HelpDesk |
            {% block title %}
                Профиль
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"
              integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
              integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
              integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/custom-elements.css' %}" />
        <script async src="{% static 'js/theme.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-lg-3 col-xs-12 col-sm-12 col-md-12">
                    <div>{{ request.user.first_name }} {{ request.user.last_name }}</div>
                    <div>
                        Email: <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>
                    </div>
                    <div>Имя пользователя: {{ request.user.username }}</div>
                    <hr class="mb-3" />
                    <div class="fs-3">Настройки</div>
                    <div class="fs-6 text-muted mt-3">Основные</div>
                    <a href="{% url 'profile_settings' %}">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary mb-2 text-start w-100 py-2">
                            <i class="fa-solid fa-user me-1"></i></i>Публичный профиль
                        </button>
                    </a>
                    <a href="{% url 'security_settings' %}">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary mb-2  text-start w-100 py-2">
                            <i class="fa-solid fa-lock me-1"></i>Безопасность
                        </button>
                    </a>
                    <a href="{% url 'appearance_settings' %}">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary mb-2 text-start w-100 py-2">
                            <i class="fa-solid fa-palette me-1"></i>Внешний вид
                        </button>
                    </a>
                    <button type="button"
                            class="btn btn-sm btn-outline-primary text-start w-100 py-2">
                        История
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-outline-primary text-start w-100 py-2">
                        История
                    </button>
                </div>
                <div class="col">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
