{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HelpDesk | История заявок</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"
              integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
              integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container">
            <a class="icon-link icon-link-hover"  href="{% url 'profile' %}">
                <i class="fa-solid fa-arrow-left-long"></i>
                Вернуться в профиль
            </a>
            {% for form in forms %}
                <div class="container">
                    <a href="{% url 'request_info' form.id %}" class="text-decoration-none">
                        <div class="vstack gap-5 rounded-3 p-4 my-3 shadow border {% if form.priority == "3" %} border-danger {% elif form.priority == "2" %} border-warning {% elif form.priority == "1" %} border-success{% endif %}">
                            <div class="hstack gap-1">
                                <div class="col-auto text-muted text-body ms-auto">
                                    {{ form.time|date:"d.m.y" }}
                                </div>
                                <div class="col fw-bold text-body ms-1">{{ form.theme|truncatechars:20 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if page_obj.has_previous or page_obj.has_next %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link disabled">Предыдущая</a>
                        </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item">
                                <a class="page-link active" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Следующая</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link disabled">Следующая</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <script async src="{% static 'js/theme.js' %}"></script>
</body>
</html>
