{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HelpDesk | Заявка № {{ requests.id }}</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"
              integrity="sha512-72OVeAaPeV8n3BdZj7hOkaPSEk/uwpDkaGyP4W2jSzAC8tfiO4LMEDWoL3uFp5mcZu+8Eehb4GhZWFwvrss69Q=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
              integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{% static 'css/custom-elements.css' %}">
    </head>
    <body>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% if request.user.is_staff is True %}
                                     {% url 'requests' %}
                                 {% else %}
                                     {% url 'new' %}
                                 {% endif %}">Заявки</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Заявка № {{ requests.id }}
                    </li>
                </ol>
            </nav>
            <div class="card-flush shadow p-3  rounded mb-3
                        {% if requests.actual is False %}
                            border border-danger
                        {% endif %}">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-dark">{{ requests.theme }}</h5>
                        </div>
                        <div class="col text-end text-dark">
                            {{ requests.user.first_name }} {{ requests.user.last_name }} <i class="bi bi-dot"></i> {{ requests.user.groups.first.name }} <i class="bi bi-dot"></i> {{ requests.time }}
                        </div>
                    </div>
                    <p class="card-text text-muted ">{{ requests.requesting_message }}</p>
                    <div class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ducimus tenetur, soluta aut sunt aliquid sapiente ab nulla aperiam blanditiis cupiditate error! Possimus ipsam nostrum earum officiis error obcaecati omnis!
                    </div>
                    {% if requests.priority == "1" %}
                        <span class="badge rounded-pill text-bg-custom-low py-2 fs-6 ">Нейтрально</span>
                    {% elif requests.priority == "2" %}
                        <span class="badge rounded-pill text-bg-custom-medium py-2 fs-6">Средний</span>
                    {% elif requests.priority == "3" %}
                        <span class="badge rounded-pill text-bg-custom-urgent py-2 fs-6">Важно</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
