{% extends "profile/base_profile.html" %}

{% load i18n static %}
{% load two_factor_tags %}
{% load crispy_forms_tags %}

{% block title %}
    Настройки безопасности
{% endblock title %}
{% block content %}
    <div class="fs-3 mb-3">Безопастность</div>
    <div class="fs-6 text-muted">Изменить пароль</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-end">
            <a href="{% url 'reset_password' %}" class="btn btn-primary mx-1 px-5 mb-1">Восстановить</a>
            <button type="submit" class="btn  btn-primary mx-1 px-5 mb-1">Изменить</button>
        </div>
    </form>
    <hr />
    <div class="fs-3 mb-3">Двухфакторная аутентификация</div>
    {% if not device %}
        <div class="card py-5 panel-doted border-danger mb-3">
            <div class="card-body text-center ">
                <i class="fa-solid fa-lock-open py-2"></i>
                <div class="fs-5 py-3">
                    Ваша учетная запись не защищенна двухфакторной аутентификацией
                </div>
                <a href="{% url 'two_factor:setup' %}" class="btn btn-sm btn-primary">
                Настроить</a>
            </div>
        </div>
    {% else %}
        <div class="card py-5 panel-doted border-success mb-3">
            <div class="card-body text-center ">
                <i class="fa-solid fa-lock py-2"></i>
                <div class="fs-5 py-3">
                    Ваша учетная запись защищенна двухфакторной аутентификацией
                </div>
                <a href="{% url 'two_factor:backup_tokens' %}"
                   class="btn btn-primary btn-sm">Коды</a>
            </button>
            <a href="{% url 'two_factor:disable' %}" class="btn btn-danger btn-sm">Отключить</a>
        </div>
    </div>
{% endif %}
{% endblock content %}
