{% extends 'profile/base_profile.html' %}
{% load crispy_forms_tags %}

{% block content %}
<a class="icon-link icon-link-hover"  href="{% url 'profile' %}">
    <i class="bi bi-arrow-left"></i>
    Вернуться в профиль
  </a>
    <div class="fs-3 mb-3">Безопастность</div>
    <div class="fs-6 text-muted">Изменить пароль</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-end">
            <a href="{% url 'reset_password' %}"><button type="button" class="btn btn-primary px-5">Восстановить пароль</button></a>
            <button type="submit" class="btn btn-primary px-5 ">Изменить</button>
        </div>
    </form>


{% endblock content %}